@charset "UTF-8";
@keyframes trans-caixa{
    0%{
        width:30%;
        height:80px;
    }

    50%{
        width:12.5%;
        color:transparent;
    }

    100%{
        width:3%;
        height:30px;
    }
}

@keyframes trans-caixa-abrir{
    0%{
        width:3%;
        height:30px;
    }

    50%{
        width:12.5%;
        color:transparent;

    }

    100%{
        width:40%;
        height:60px;
    }
}

@keyframes desaparecer{
    0%{
        
    }

    100%{
        background-color: transparent;
        color:transparent;
        
    }
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
}

main{
    min-width:70%;
    margin:auto;
    max-width: 90%;

}

.caixaCampoCelular{
    display: none;
    min-width: 301px;
}

.caixaCampo{
    background-color: rgba(163, 163, 163, 0.192);
    display: flex;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    max-width: 315px;
    flex-flow: row wrap;
    width: 5%;
    height: 30px;
}

.btts{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}


.bttN1, .bttN2, .bttN3, #nomeTarefa, #ocult{
    padding:5px;
    max-width:100%;
    min-width:5%;
}

@media (max-width:1035px) {
    #nomeTarefa{
        width:140px !important;
        
    }
}

@media (max-width:904px){
    .bttN1, .bttN2, .bttN3{
        font-size:10px;
        width:25%;
        padding:5px !important;
    }

    #ocult, #mostrar{
        font-size:16px !important;
        width:30px !important;
        border-radius:50% !important;
    }

    #ocult{
        font-weight: bold;
    }

    #mostrar{
        font-size:26px !important;
        background-color: transparent !important;
        color:#008cff !important;
        
    }

    
}

@media (max-width:808px){
    #btts{
        display: none !important;
    }

    .tarefa{
        font-size:16px !important;
    }
}

@media (max-width:800px){
    .caixaCampo{
        display: none;
    }

    .caixaCampoCelular{
        display:flex;
        padding:30px;
        background-color: #dbdbdb;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .btts{
        margin:5px;
        display: flex;
        width:80%
    }

    .btts > button{
        font-size: 8px;
        width:30%
    }
}

#mostrar{
    color:#fff;
    background-color:#008cff;
    border:1px solid transparent;
    border-radius:5px;
    width: 30px;
    height: 30px;
    font-size:1.3em;
    font-weight: bold;
}

#nomeTarefa{
    display: none;
    width:200px;
    margin:0px 5px 9px 0px;
}

#ocult{
    display: none;
    border:1px solid transparent;
    border-radius:5px;
    width: 30px;
    height: 30px;
    padding:0;
    font-weight: bold;
    font-size:1em;
    font-stretch: expanded;
    color:#cf0b0b;
    background-color:transparent;
}

.bttN1{
    background-color:#84e280;
    color:#fff;
    font-weight:bold;
    border:1px solid transparent;
    border-radius:5px;
    padding:8px
}

.bttN2{
    background-color:#fca979;
    color:#fff;
    font-weight:bold;
    border:1px solid transparent;
    border-radius:5px;
    padding:8px
}

.bttN3{
    background-color:#fd5b5b;
    color:#fff;
    font-weight:bold;
    border:1px solid transparent;
    border-radius:5px;
    padding:8px
}

ul{
    list-style-type: none;
    padding:5px;
    width:32%;
}

.tarefa{
    font-size:14pt;
    padding:5px;
    border-radius:5px;
    display: list-item;
    width:80%;
    margin-bottom:10px;
}

.checkbox{
    appearance:none;
    width:11pt;
    height:11pt;
    line-height: 4px;
    transform:scale(1.1);
    border:0.5px solid #a5a5a5;
    border-radius:2px;
    padding:5px;
    margin:0px 5px;
}

.bttPCelular{
    width:100vw;
    background-color: #008cff;
}

.checkbox:checked{
    background-color:rgb(19, 212, 29);
    background-image:url('recursos/checkmark-8.png');
    background-position: center center;
    background-size:auto;
    background-repeat:no-repeat
}

.pronto{
    text-decoration: line-through;
    animation:normal desaparecer 2s linear;
}
